\Lecture 1
Print Statement

In [ ]:
print("Hello","Word",'''Adnan''','Khan')
print("Adnan","Rafique",sep= '* \n')

print(23+7,7,"A+",True)
name="adnan" #String
n='Adnan'
N='''Adnan'''
print(N,name,n)

Hello Word Adnan Khan
Adnan*
Rafique
30 7 A+ True
Adnan adnan Adnan

In [ ]:
#Static Software-> those types of software where not involved user input else dynamic software
var=int(input("Enter number "))
print("Number  is: ", var,type(var))
#NOTE: input always return String b/c string is universal datatype

Enter number 099
Number  is:  99 <class 'int'>

In [ ]:
#Type Conversion
#Implicit Conversion
5+6+5j
#Explicit Conversion
#type conversion is not a permanent operation while type casting is a permanent operation
a=4.5
int(a) #type conversion
print(a)# 4.5 proof

4.5

In [ ]:
# by default taken String
age=input("Enter age: ")
print(type(age),age)
No=int(input("Enter No:"))
print(type(No),No)

Enter age: Cv
<class 'str'> Cv
Enter No:56
<class 'int'> 56

### Datatype
Basic Types: (integer, float, complex, boolean, string)

Container Types: (List,Tuples,Sets, Dictionary)

User-defined Types: Class

In [ ]:
print(1e308,1e309) #Range of integer 1e308
print(1.7e309) # Range of float 1.7e308
print(4+5j) # Complex datatype -> using j
print("Adnan") #String
print([1,2,3,4]) #List
print((1,2,3,4)) #tuplle
print({1,2,3,4}) #Sets
print({'Name':'Adnan','Age':19 ,'gender': 'Male'})

1e+308 inf
inf
(4+5j)
Adnan
[1, 2, 3, 4]
(1, 2, 3, 4)
{1, 2, 3, 4}
{'Name': 'Adnan', 'Age': 19, 'gender': 'Male'}

>Range of integer in python very large

>In python, we don't need to specify the type of variable called dynamic typing else static typing

>variable store multiple datatype (datatype or value change kr skty hai) called dynamic Binding else static Binding

In [ ]:
#Variable Declaration
a=5;b=4;c=3
print(a,b,c)
x,y,z=1,2,3
print(x,y,z)
a =b =c =5
print(a,b,c)

5 4 3
1 2 3
5 5 5

In [ ]:
#Keyword
import keyword #use for printing list of keyword
print(keyword.kwlist)
#Identifier is a name used to identify variable, class, module or other object

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
#dataType of Variable
name="Adnan"
#age = 1.6
#age=16
print("name is",name,"Age is ",age)
print(type(name),type(age))
old,a = False,None
print(type(old))
print(type(a))

name is Adnan Age is  1.6
<class 'str'> <class 'float'>
<class 'bool'>
<class 'NoneType'>

In [ ]:
# Type casting for sum valid text
a,b=int("2"),8
print(a+b)

10

## **Literal:**
Literal is a raw data given  a variale in python
1. Numeric Literal
2. String literal
3. oolean Literal
4. Special Literal

In [ ]:
#Numeric Literal
a= 0b1010 #binary Literal ->output decimal
b=100 #decimal Literal
c=0o310# Octal Literal where 310 octal numer
d=0x12c #Hexadecimal Literal 12c is hexadecimal numbers

#Flat Literal
flat1=10.5
flat2= 1e-3

#Complex Literal
x= 3+5j

print(a,b,c)
print(flat1,flat2)
print(x,x.imag,x.real)

10 100 200
10.5 0.001
(3+5j) 5.0 3.0

In [ ]:
#String Literal
string = "Adnan"
multi_string=  " " "use for long paragraph" " "
unicode = "\U0001f600\U0001F606\U0001F923" #Emoji
print(multi_string)
print(unicode)

#Boolean Literal
a=True+4 # 1+4
b=False+10 # 0+10
print(a,b)

#Special Literal
a= None # use for declaration
print(a)

 use for long paragraph
ðŸ˜€ðŸ˜†ðŸ¤£
5 10
None

In [ ]:
#Operator
a,b=3,4
print(a**b, a/b, a//b, not b, a and y, a or b,sep="\n")# a and b =2 beacuse condition true and return first one which is a=2

81
0.75
0
False
2
3

In [ ]:
#String
A="Adnan Khan \n M.Rafique"
# \n for next line
print(A)
Str1="Adnan"
Str2="Rafique"
Str3=Str1+ Str2
print(Str3,len(Str3))

Adnan Khan
 M.Rafique
AdnanRafique 12

In [ ]:
#Indexing
Str="Adnan Rafique"
print(Str[0],Str)
# does not support to replace/update/modify string character Str[0]="S"
print(Str[1:5],print("Hi"))
print(Str[0:]) #Str[0:len(Str)]
print([:4])#Str[0:4]
#print([:])

A Adnan Rafique
Hi
dnan None
Adnan Rafique

In [ ]:

#Slicing
Str="Hazara Uni"
print(Str[-5:-1])
print(Str)
print(Str[-len(Str):-1])
print(Str[-len(Str):])
#print(Str[:Str]) --Error
print(Str[-1:-5]) #--no output
print(Str[-5:5]) #--no output and vice versa

a Un
Hazara Uni
Hazara Un
Hazara Uni

In [ ]:
#String ftn
Str="i am Studying  python from YouTube"
print(Str.endswith("be")) #True

Str=Str.capitalize()#Change in original string
print(Str) # capitalize first letter of string

# replace string/char from other
print(Str.replace("o","a"),"\n",Str.replace("python","C++"))

print(Str.find("python"))# idc of p
print(Str.find("4"))# o/p is -1 b/c 4 not exist

# count word python or "o" in a string
print(Str.count("python"),Str.count("o"))

True
I am studying  python from youtube
I am studying  pythan fram yautube
 I am studying  C++ from youtube
15
-1
1 3